.playfair {
    font-family: 'Playfair Display', sans-serif;
}

.sr-only {
  font-weight: bold;
  color: black;
}

.active {
  color:black;
  font-weight: bold;
}

.active:hover {
  color:black;
  font-weight: bold;
  background-color: wheat;
}

.inactive {
  color:grey;
}

.inactive:hover {
  color:black;
  font-weight: bold;
  background-color: wheat;
}

.carousel-control-prev-icon {
  outline: black;
  border: 1px solid black;
  color: black;
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  outline: black;
  border: 1px solid black;
  color: black;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-container {
    width: 35vw
}

.carousel-caption {
  color: black;
  position: absolute;
  top:-20px
}